<app-form-editor [objectFacade]="facade" [id]="0" [isModal]="true"  (cancelEvent)="close()" (saveEvent)="save($event)" [formGroup]="accountForm" >

  <section class="clr-row">
    <div class=" clr-col-12">
      <app-input-control [control]="accountForm.get('accountName')" placeholder="Accout Name"></app-input-control>
      <app-input-control [control]="accountForm.get('accountCode')"  placeholder="Account Code"></app-input-control>
      <app-select-control [control]="accountForm.get('corporatedGroupId')" placeholder="Corporate Group"
      [options]="listFacade.getCorporatedGroups()"></app-select-control>
   </div>
  </section>
</app-form-editor>
