<clr-tabs class="card-tabs">
  <clr-tab>
    <button clrTabLink >Accounts</button>
    <clr-tab-content *clrIfActive="activeTab.getValue() == homeTabs.Accounts">
      <app-account-selector></app-account-selector>
    </clr-tab-content>
  </clr-tab>
    <clr-tab>
      <button clrTabLink>Locations</button>
      <clr-tab-content *clrIfActive="activeTab.getValue() == homeTabs.Locations">
        <app-location-selector></app-location-selector>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
