:host {
  display: block;
  height: 100%;
}

.card {
  height: calc(100% - 1rem);
}

.card-block {
  min-height: 271px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-weight: 600;
  font-size: 0.666666rem;
  word-break: break-word;
}

.btn-box {
  margin-top: auto;
}

.word-break {
  word-break: break-word;
}