<div class="card">
  <div class="card-block">
    <h4 class="card-title">{{contact.firstName}} {{contact.surname}}</h4>
    <ul class="list-unstyled">
      <li>
        <clr-icon shape="phone-handset"></clr-icon> {{contact.phone}}
      </li>
      <li>
        <clr-icon shape="mobile"></clr-icon> {{contact.mobile}}
      </li>
      <li class="word-break">
        <clr-icon shape="envelope"></clr-icon>
        {{contact.email}}
      </li>
      <li class="word-break">{{contact.title}}</li>
      <li class="word-break">{{contact.jobTitle}}</li>
      <li class="word-break">{{contact.department}}</li>
    </ul>
    <div class="btn-box">
      <button class="btn btn-sm" (click)="deleteContact()">Delete</button>
      <button class="btn btn-sm" (click)="editContact()">Edit</button>
    </div>
  </div>

</div>
