<clr-modal [clrModalOpen]="true" (clrModalOpenChange)="onCloseModal()"  [clrModalClosable]="isClosable">
  <h3 *ngIf="title" class="modal-title">{{title}}</h3>
  <div class="modal-body">
    <router-outlet></router-outlet>
  </div>
</clr-modal>
