.save-btn_margin_top{
    margin-top: 25px;
}

.clr-checkbox-wrapper input[type="checkbox"] + label::before {
    pointer-events: initial;
}

.clr-checkbox-wrapper .clr-control-label {
    pointer-events: none;
}