<app-form-collection-editor [formGroup]="locationShedulerForm" [arrayControlName]="'schedulesList'" (saveEvent)="updateSchedules()" [objectFacade]="schedulesListFacade" [formName]="'Location Schedules'" [id]="id" >
<clr-datagrid [clrDgRowSelection]="false" (clrDgRefresh)="refresh($event)" [clrDgLoading]="isUpdating$ | async">
    <clr-dg-column>Service Days</clr-dg-column>
    <clr-dg-column>Monday</clr-dg-column>
    <clr-dg-column>Tuesday</clr-dg-column>
    <clr-dg-column>Wednesday</clr-dg-column>
    <clr-dg-column>Thursday</clr-dg-column>
    <clr-dg-column>Friday</clr-dg-column>
    <clr-dg-column>Saturday</clr-dg-column>
    <clr-dg-column>Sunday</clr-dg-column>

      <clr-dg-row *ngFor="let schedule of schedulesList.controls">
          <clr-dg-cell>{{getScheduleTypeStr(schedule.get('scheduleType').value)}}</clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('monday')"/>
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('tuesday')" />
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('wednesday')"  />
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('thursday')" />
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('friday')" />
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('saturday')"/>
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
          <clr-dg-cell>
              <clr-checkbox-wrapper>
                  <input type="checkbox" clrCheckbox [formControl]="schedule.get('sunday')"/>
                  <label></label>
              </clr-checkbox-wrapper>
          </clr-dg-cell>
      </clr-dg-row>

</clr-datagrid>


<!-- <button class="btn btn-primary save-btn_margin_top" (click)="updateSchedules()"
    [disabled]="btnDisabled | async">Save</button>
<button class="btn save-btn_margin_top" (click)="cancel()" [disabled]="btnDisabled | async">Cancel</button> -->
</app-form-collection-editor>
