<div class="card" *ngIf="location !== null && location !== undefined">
  <div class="card-block">
    <div class="card-title">
      Location #{{location.locationId}} <button class="btn btn-sm btn-custom" (click)="delete()">Delete</button>
    </div>
    <div class="card-text">
      <div class="alert alert-danger" role="alert" [hidden]="!(diableChangeActiveTab$ | async)">
        <!-- Code below commented untin form load spinner won't be implemented -->
        <!-- *ngIf="(formGroup.touched && isEmpty()) || (!formGroup.touched && isEmpty() && !(isUpdating$ | async))" -->
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <span class="alert-text">
              Please save or cancel changes before switching the tab.
            </span>
          </div>
        </div>
      </div>
      <clr-tabs class="card-tabs" >
        <clr-tab >
          <button clrTabLink (click)="changeTab(locationTabs.OpationHours)" [disabled]="diableChangeActiveTab$ | async">Operating Hours</button>
          <clr-tab-content  *clrIfActive="activeTab.getValue() == locationTabs.OpationHours">
            <app-account-location-operating-hours [id]="location.locationId"></app-account-location-operating-hours>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink  (click)="changeTab(locationTabs.Propeties)" [disabled]="diableChangeActiveTab$ | async">Properties</button>
          <clr-tab-content  *clrIfActive="activeTab.getValue() == locationTabs.Propeties">
            <app-account-location-properties [location]="location"></app-account-location-properties>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink  (click)="changeTab(locationTabs.Schedules)" [disabled]="diableChangeActiveTab$ | async">Schedule Delivery & Collection Days</button>
          <clr-tab-content  *clrIfActive="activeTab.getValue() == locationTabs.Schedules">
            <app-account-location-schedules [id]="location.locationId"></app-account-location-schedules>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>

      <app-location-contacts [id]="location.locationId"></app-location-contacts>
    </div>
  </div>
</div>
