<clr-datagrid [clrDgRowSelection]="true" (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column >Day Name</clr-dg-column>
  <clr-dg-column >Day Type</clr-dg-column>
  <clr-dg-column> From</clr-dg-column>
  <clr-dg-column> To </clr-dg-column>
  <clr-dg-column>  </clr-dg-column>

  <clr-dg-row *ngFor="let hour of hoursList" [clrDgItem]="hour" [clrDgSelected]="selected == hour">
      <clr-dg-cell>{{hour.dayName}}</clr-dg-cell>
      <clr-dg-cell class="word-break">{{hour.dayType}}</clr-dg-cell>
      <clr-dg-cell>{{hour.openFrom}}</clr-dg-cell>
      <clr-dg-cell>{{hour.openTo}}</clr-dg-cell>
      <clr-dg-cell (click)="openUpdatingHoursModal(hour)">Edit</clr-dg-cell>
  </clr-dg-row>



</clr-datagrid>
<!-- <app-account-location-operating-hours-modal *ngIf="isOpen.getValue()"  [hour]="updatingHours" [isOpen]="isOpen.getValue()" (onClose)="updateHours($event)"></app-account-location-operating-hours-modal> -->
