<app-form-editor [isModal]="true" [objectFacade]="facade" [id]="0" [formGroup]="locationForm" 
  [formName]="'Account Locations'"  (saveEvent)="save($event)" (cancelEvent)="close()">
  <section class="clr-row">
    <div class=" clr-col-12">
      <app-input-control [control]="locationForm.get('companyName')" [placeholder]="'Company Name'"></app-input-control>
      <app-input-control [control]="locationForm.get('locationCode')" [placeholder]="'Location Account Code'"></app-input-control>
      <app-input-control [control]="locationForm.get('address1')" [placeholder]="'Address 1'"></app-input-control>
      <app-input-control [control]="locationForm.get('address2')" [placeholder]="'Address 2'"></app-input-control>
      <app-input-control [control]="locationForm.get('address3')" [placeholder]="'Address 3'"></app-input-control>
      <app-input-control [control]="locationForm.get('cityTown')" [placeholder]="'City / Town'"></app-input-control>
      <app-input-control [control]="locationForm.get('postCode')" [placeholder]="'Postcode'"></app-input-control>
      <app-input-control [control]="locationForm.get('county')" [placeholder]="'County'"></app-input-control>
      <app-input-control [control]="locationForm.get('country')" [placeholder]="'Country'"></app-input-control>
      <app-input-control [control]="locationForm.get('phone')" [placeholder]="'Phone'"></app-input-control>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox [formControl]="locationForm.get('international')" name="International" />
          <label>international</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
      <app-input-control [control]="locationForm.get('longitude')" [placeholder]="'Longitude'"></app-input-control>
      <app-input-control [control]="locationForm.get('latitude')" [placeholder]="'Latitude'"></app-input-control>
      <app-input-control [control]="locationForm.get('storeUrl')" [placeholder]="'Store URL'"></app-input-control>
   </div>

  </section>
</app-form-editor>
