<clr-datagrid [clrDgRowSelection]="true" (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-column [clrDgField]="'locationCode'">Location Account Code</clr-dg-column>
    <clr-dg-column [clrDgField]="'companyName'">Company Name</clr-dg-column>
    <clr-dg-column>Addresses</clr-dg-column>
    <clr-dg-column>City / Town</clr-dg-column>
    <clr-dg-column>County</clr-dg-column>
    <clr-dg-column>Post Code</clr-dg-column>
    <clr-dg-column>Country</clr-dg-column>

    <clr-dg-row *ngFor="let location of locationsList" [clrDgItem]="location" (click)="selected = location; selectedChanged()" [clrDgSelected]="selected == location">
        <clr-dg-cell>{{location.locationCode}}</clr-dg-cell>
        <clr-dg-cell>{{location.companyName}}</clr-dg-cell>
        <clr-dg-cell>{{location.addresses}}</clr-dg-cell>
        <clr-dg-cell>{{location.cityTown}}</clr-dg-cell>
        <clr-dg-cell>{{location.county}}</clr-dg-cell>
        <clr-dg-cell>{{location.postCode}}</clr-dg-cell>
        <clr-dg-cell>{{location.country}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Objects per page</clr-dg-page-size>
            <div class="datagrid-foot-description">{{total}} objects</div>
        </clr-dg-pagination>
    </clr-dg-footer>

</clr-datagrid>


<button class="btn btn-primary" id="exportXlsBtn" (click)="downloadExportFile($event)">Export to Excel</button>
