.clr-accordion:not(.clr-stepper-forms) .clr-accordion-inner-content {
  padding-bottom: 0.9rem;

  @media (max-width: 490px) {
    padding: .25rem .45833rem;
  }
}

.clr-form-control  {
  padding-bottom: 0.4rem;
}

.clr-subtext {
  margin-bottom: -0.75rem;
}

.clr-accordion:not(.clr-stepper-forms) .clr-accordion-header-button {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-left: 0.25rem solid #eeeeee;
}

.container {
  max-width: 1192px;
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (max-width: 490px) {
    padding-left: 0;
    padding-right: 0;
  }

  &_main {
    margin-top: 22px;
    margin-bottom: 82px;

    @media (max-width: 490px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.clr-control-container {
  .clr-input,
  .clr-select-wrapper,
  .clr-select {
    width: 100%;
  }

  .clr-input-wrapper {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 4px;
      width: 18px;
      bottom: 1px;
      pointer-events: none;
      background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    }
  }
}

.clr-col-md-12 {
  .clr-col-12 {
    padding-right: 0;
    padding-left: 0;
  }

  .clr-col-md-6 {
    &:first-child {
      padding-right: 25px;

      @media (max-width: 767px) {
        padding-right: 0;
      }
    }

    &:last-child {
      padding-left: 25px;

      @media (max-width: 767px) {
        padding-left: 0;
      }
    }
  }
}

.clr-error .clr-select-wrapper {

  select {
    border-bottom-color: #c72100;
  }

  &:after {
    right: .25rem;
  }
}

.modal-content-wrapper {
  .clr-form {
    @media (max-width: 992px) {
      padding-right: .55rem;
    }
  }
}