<div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-sm-6 clr-col-12" *ngFor="let contact of items">
      <app-account-contact *ngIf="type === 'account'" [contact]="contact" (onEdit)="editContact($event)" (onDelete)="remove($event)"></app-account-contact>
      <app-location-contact *ngIf="type === 'location'" [contact]="contact" (onEdit)="editContact($event)" (onDelete)="remove($event)"></app-location-contact>
  </div>
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-sm-6 clr-col-12">
    <app-add-contact (click)="add()"></app-add-contact>
  </div>
</div>
<!-- <app-edit-account-contact-form *ngIf="isOpenEditorModal && type === 'account'" [accountId]="id" [title]="modalTitle" [isOpen]="isOpenEditorModal" [id]="editedContactId" (onClose)="updateCollection($event)"></app-edit-account-contact-form>
<app-edit-location-contact-form *ngIf="isOpenEditorModal && type === 'location'" [accountId]="id" [title]="modalTitle" [isOpen]="isOpenEditorModal" [id]="editedContactId" (onClose)="updateCollection($event)"></app-edit-location-contact-form> -->
