<clr-modal [(clrModalOpen)]="isOpen" (clrModalOpenChange)="handleChange($event)">
  <h3 class="modal-title">{{title}}</h3>
  <div class="modal-body">
      <app-form-editor [isModal]="true" [objectFacade]="objectFacade" [id]="id" [formGroup]="formGroup" (onSave)="close($event)" (onCancel)="close($event)">
        <ng-content></ng-content>
      </app-form-editor>
  </div>
 <!-- <div class="modal-footer">
      <button (click)="saveEvent.emit()" class="btn btn-primary">Save</button>
      <button (click)="cancelEvent.emit()" class="btn">Cancel</button>
  </div>-->
</clr-modal>
