<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="false">
    <h3 class="modal-title">Warning</h3>
    <div class="modal-body">
        <p *ngIf = "canSave" >The {{formName}} form includes unsaved changes. Should these changes be saved?</p>
        <p *ngIf = "!canSave" >The {{formName}} form includes invalid values. Please correct them or cancel these changes.</p>
    </div>
    <div class="modal-footer">
      <button (click)="click($event, btnActions.SAVE)" class="btn btn-primary" [disabled]="!canSave">Save</button>
      <button (click)="click($event, btnActions.CANCEL)" class="btn">Cancel</button>
      <button (click)="click($event, btnActions.BACK_TO_EDITING)" class="btn">Back to editing</button>
    </div>
</clr-modal>
