<app-account-location-item   [location]="item" *ngFor="let item of items" (onDelete)="updateLocations($event)"></app-account-location-item>
<div class="btn-box">
  <button (click)="createLocation()" class="btn btn-primary" >Add Location</button>
</div>
<!-- <app-account-location-modal *ngIf="isOpen.getValue()"  [isOpen]="isOpen.getValue()" [accountId]="id" (onClose)="addLocation($event)"></app-account-location-modal> -->
