<!-- for now this alert has not case to be shown. change if condition to make it show again -->
<div class="alert alert-danger" role="alert" *ngIf="formGroup.touched && false">
  <!-- Code below commented untin form load spinner won't be implemented -->
  <!-- *ngIf="(formGroup.touched && isEmpty()) || (!formGroup.touched && isEmpty() && !(isUpdating$ | async))" -->
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">
        All data is empty. At least one field must be filled.
      </span>
    </div>
  </div>
</div>
<form [id]="formId" clickOutSide [isChanged]="isChanged()" (clickOutSideEvent)="checkClickOutSide($event)" clrForm
  [formGroup]="formGroup" title="" class="clr-form" clrLayout="vertical" autocomplete="off">
  <div class="clr-col-lg-11 clr-col-md-12" #formComponent>
    <ng-content></ng-content>
  </div>
  <div class="btn-box">
    <button class="btn btn-primary" (click)="save($event)" [disabled]="!canSave() && !inProcess ">Save</button>
    <button class="btn" (click)="cancel($event)" [disabled]=" !isModal && !isChanged()  ">Cancel</button>
  </div>

</form>

