<clr-select-container class="select-container">
  <label class="clr-control-label clr-control-label_active">{{ placeholder }} <span *ngIf="isRequired" class="required-asterisk">*</span></label>
  <select clrSelect class="clr-col-12 select-control"  [formControl]="control"  >
    <option *ngFor="let item of options"  [ngValue]="item.val">{{item.name}}</option>
  </select>
  <clr-control-error   *ngFor="let error of errors" >{{error}}</clr-control-error>
</clr-select-container>
