.select-container {
  position: relative;
  margin-top: 1.758rem;
}

.clr-control-label {
  position: absolute;
  top: -19px;
  transform: translate(5px, 16px);
  transition: transform .1s ease-in-out;
  color: #828282;
  font-weight: 400;

  &_active {
    transform: translate(0, 0);
    color: #454545;
    font-weight: 600;
  }
}

.select-control {
  padding-left: 0;
}

.required-asterisk {
  display: inline-block;
  color: #ff0000;
  font-size: 1.2em;
  line-height: 1;
}