.add-contact {
  height: 252px;
  align-items: center;
  .plus {
    align-items: center;
    display: block;
    margin: 20px;
    width: auto;
    &:before{
      content: '+';
      align-items: center;
      display: block;
      position: relative;
      font-size: 200px;
      height: 200px;
      top:50px;
    }

  }
}
