<!-- <div class="clr-row">
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-sm-6 clr-col-12" *ngFor="let contact of items">
    <app-account-contact [contact]="contact" (onEdit)="editContact($event)"  (onDelete)="remove($event)"></app-account-contact>
  </div>
  <div class="clr-col-xl-3 clr-col-lg-4 clr-col-sm-6 clr-col-12">
    <div class="card" (click)="add()">
      <div class="card-block add-contact">
        <span class="plus"></span>
        <div> Add Contact</div>

      </div>

    </div>
  </div>
</div>
<app-edit-account-contact-form *ngIf="isOpenEditorModal" [accountId]="id" [title]="modalTitle" [isOpen]="isOpenEditorModal" [id]="editedContactId" (onClose)="updateCollection($event)"></app-edit-account-contact-form> -->
