<div class="modal-body">
  <p>Please confirm the deletion</p>
</div>
<div class="modal-footer">
  <button (click)="confirm()" class="btn btn-primary" >Confirm</button>
    <button (click)="cansel()" class="btn">Cancel </button>
</div>
