<app-form-editor [formGroup]="accountForm" [objectFacade]="accountDetailsFacade" [id]="id" [formName]="'Account Details'">
  <section class="clr-row">
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="accountForm.get('accountCode')" [placeholder]="'Account Code'" [readonly]="true"></app-input-control>
      <app-select-control [control]="accountForm.get('corporatedGroupId')" [placeholder]="'Corporated Group'"
        [options]="listFacade.getCorporatedGroups()"></app-select-control>
      <app-input-control [control]="accountForm.get('companyRegNo')" [placeholder]="'CompanyRegNo'"></app-input-control>
      <app-select-control [control]="accountForm.get('tradingCountryId')" [placeholder]="'Trading Country'"
        [options]="listFacade.getCountries()"></app-select-control>
      <app-select-control [control]="accountForm.get('tradingVatRateId')" [placeholder]="'Vat Rate'"
        [options]="listFacade.getVatRates()"></app-select-control>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox [formControl]="accountForm.get('vatexempt')" name="VATExempt" />
          <label>VATExempt</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </div>
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="accountForm.get('accountName')" [placeholder]="'Account Name'"></app-input-control>
      <app-input-control [control]="accountForm.get('vatno')" [placeholder]="'VATNO'"></app-input-control>
      <app-select-control [control]="accountForm.get('tradingCurrencyId')" [placeholder]="'Trading Currency'"
        [options]="listFacade.getCurrencies()"></app-select-control>
      <app-input-control [control]="accountForm.get('eori')" [placeholder]="'EORI'"></app-input-control>
      <app-input-control [control]="accountForm.get('vatexemptAuthoriseNo')" [placeholder]="'VATExempt No'">
      </app-input-control>
    </div>

  </section>
</app-form-editor>
