<app-form-editor [formGroup]="addressForm" [objectFacade]="accountAddressFacade" [id]="id" [formName] = "'Account Address'">
  <section class="clr-row">
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="addressForm.get('companyName')" [placeholder]="'Company Name'"></app-input-control>

      <app-input-control [control]="addressForm.get('address1')" [placeholder]="'Address 1'"></app-input-control>
      <app-input-control [control]="addressForm.get('address2')" [placeholder]="'Address 2'"></app-input-control>
      <app-input-control [control]="addressForm.get('address3')" [placeholder]="'Address 3'"></app-input-control>
      <app-input-control [control]="addressForm.get('phone')" [placeholder]="'Phone'"></app-input-control>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox [formControl]="addressForm.get('international')" name="International" />
          <label>International</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </div>
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="addressForm.get('email')" [placeholder]="'Email'"></app-input-control>
      <app-input-control [control]="addressForm.get('cityTown')" [placeholder]="'CityTown'"></app-input-control>
      <app-input-control [control]="addressForm.get('postCode')" [placeholder]="'PostalCode'"></app-input-control>
      <app-input-control [control]="addressForm.get('county')" [placeholder]="'County'"></app-input-control>
      <app-input-control [control]="addressForm.get('country')" [placeholder]="'Country'"></app-input-control>
    </div>

  </section>
</app-form-editor>
