<app-form-editor [isModal]="true" [objectFacade]="facade" [id]="hour.locationOperatingHoursId" [formGroup]="hourForm" (saveEvent)="save($event)" (cancelEvent)="close($event)">
<!-- <app-modal-editor [objectFacade]="facade" [id]="hour.locationOperatingHoursId" [isOpen]="isOpen" [title]="title" (onClose)="close($event)" [formGroup]="hourForm"> -->

  <section class="clr-row">
    <div class=" clr-col-12">
      <app-input-control [control]="hourForm.get('dayType')" [placeholder]="'Day Type'"></app-input-control>

    </div>
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="hourForm.get('openFrom')" [placeholder]="'From'"></app-input-control>
    </div>
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="hourForm.get('openTo')" [placeholder]="'To'"></app-input-control>
    </div>

  </section>
</app-form-editor>
