<app-modal-editor [objectFacade]="facade" [id]="id" [isOpen]="isOpen" [title]="title" (onClose)="close($event)" [formGroup]="contactFrom" >

  <section class="clr-row">
    <div class=" clr-col-12">
      <app-input-control [control]="contactFrom.get('firstName')" [placeholder]="'First Name'"></app-input-control>
      <app-input-control [control]="contactFrom.get('surname')"  [placeholder]="'Surname'"></app-input-control>
      <app-input-control [control]="contactFrom.get('phone')"  [placeholder]="'Phone'"></app-input-control>
      <app-input-control [control]="contactFrom.get('mobile')"  [placeholder]="'Mobile Phone'"></app-input-control>
      <app-input-control [control]="contactFrom.get('email')"  [placeholder]="'Email'"></app-input-control>
      <app-input-control [control]="contactFrom.get('title')"  [placeholder]="'Title'"></app-input-control>
      <app-input-control [control]="contactFrom.get('jobTitle')"  [placeholder]="'Job Title'"></app-input-control>
      <app-input-control [control]="contactFrom.get('department')"  [placeholder]="'Department'"></app-input-control>

   </div>

  </section>
</app-modal-editor>
