<clr-input-container>
    <label class="clr-control-label">{{ placeholder }} <span *ngIf="isRequired" class="required-asterisk">*</span></label>
    <input class="clr-col-12" clrInput type="text" [readonly]="readonly" (click)="control.markAsTouched()"  [formControl]="control" autocomplete="off">

    <clr-control-error *ngIf="errors && errors.length" >{{ errors[0] }}</clr-control-error>

</clr-input-container>
