<clr-datagrid [clrDgRowSelection]="true" (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-column [clrDgField]="'AccountCode'">Account Code</clr-dg-column>
    <clr-dg-column [clrDgField]="'AccountName'">Account Name</clr-dg-column>
    <clr-dg-column>Addresses</clr-dg-column>
    <clr-dg-column>City / Town</clr-dg-column>
    <clr-dg-column>County</clr-dg-column>
    <clr-dg-column>Post Code</clr-dg-column>
    <clr-dg-column>Country</clr-dg-column>

    <clr-dg-row *ngFor="let account of accountsList" [clrDgItem]="account" (click)="selected = account; selectedChanged()" [clrDgSelected]="selected == account">
        <clr-dg-cell>{{account.accountCode}}</clr-dg-cell>
        <clr-dg-cell>{{account.accountName}}</clr-dg-cell>
        <clr-dg-cell>{{account.addresses}}</clr-dg-cell>
        <clr-dg-cell>{{account.cityTown}}</clr-dg-cell>
        <clr-dg-cell>{{account.county}}</clr-dg-cell>
        <clr-dg-cell>{{account.postCode}}</clr-dg-cell>
        <clr-dg-cell>{{account.country}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgTotalItems]="total" [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[5,10,20]">Objects per page</clr-dg-page-size>
            <div class="datagrid-foot-description">{{total}} objects</div>
        </clr-dg-pagination>
    </clr-dg-footer>

</clr-datagrid>

<button class="btn btn-primary" id="addAccountBtn" (click)="addAccount()">Add Account</button>
<button class="btn btn-primary" id="exportXlsBtn" (click)="downloadExportFile($event)">Export to Excel</button>

<!-- <app-add-account-form *ngIf="addAccountModal" [isOpen]="addAccountModal" (onClose)="onAddAccountOk($event)" ></app-add-account-form> -->
