<div class="container container_main">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <app-modal-confirm></app-modal-confirm>

    <router-outlet name="popup"></router-outlet>
  </div>
</div>
