

      <clr-accordion *ngIf="showForms"  [clrAccordionMultiPanel]="true">
        <clr-accordion-panel [clrAccordionPanelOpen]="true">
          <clr-accordion-title>Account Details</clr-accordion-title>
          <clr-accordion-content>


            <app-account-details-form [id]='id'></app-account-details-form>

          </clr-accordion-content>
        </clr-accordion-panel>
        <clr-accordion-panel [clrAccordionPanelOpen]="true">
          <clr-accordion-title>Account Address</clr-accordion-title>
          <clr-accordion-content>

            <app-account-address-form [id]='id'></app-account-address-form>

          </clr-accordion-content>
        </clr-accordion-panel>
        <clr-accordion-panel [clrAccordionPanelOpen]="true">
          <clr-accordion-title>Account Contacts</clr-accordion-title>
          <clr-accordion-content>

            <app-account-contacts [id]='id'></app-account-contacts>

          </clr-accordion-content>
        </clr-accordion-panel>
        <clr-accordion-panel [clrAccordionPanelOpen]="true">
          <clr-accordion-title>Account Locations</clr-accordion-title>
          <clr-accordion-content>

            <app-account-locations [id]='id'></app-account-locations>

          </clr-accordion-content>
        </clr-accordion-panel>
      </clr-accordion>

