<app-form-editor *ngIf="locationForm.value != null"  [formGroup]="locationForm" [objectFacade]="facade" [formName]="'Account Locations'" [id]="location.locationId" [formName] = "'Account location'">
  <section class="clr-row">
    <div class="clr-col-md-6 clr-col-12">

      <app-input-control [control]="locationForm.get('locationCode')" [placeholder]="'Location Code'"></app-input-control>
      <app-input-control [control]="locationForm.get('companyName')" [placeholder]="'Company Name'"></app-input-control>
      <app-input-control [control]="locationForm.get('address1')" [placeholder]="'Address 1'"></app-input-control>
      <app-input-control [control]="locationForm.get('address2')" [placeholder]="'Address 2'"></app-input-control>
      <app-input-control [control]="locationForm.get('address3')" [placeholder]="'Address 3'"></app-input-control>
      <app-input-control [control]="locationForm.get('storeUrl')" [placeholder]="'Store URL'"></app-input-control>
      <app-input-control [control]="locationForm.get('latitude')" [placeholder]="'Latitude'"></app-input-control>
      <app-input-control [control]="locationForm.get('longitude')" [placeholder]="'Longitude'"></app-input-control>

    </div>
    <div class="clr-col-md-6 clr-col-12">
      <app-input-control [control]="locationForm.get('cityTown')" [placeholder]="'CityTown'"></app-input-control>
      <app-input-control [control]="locationForm.get('postCode')" [placeholder]="'Postcode'"></app-input-control>
      <app-input-control [control]="locationForm.get('county')" [placeholder]="'County'"></app-input-control>
      <app-input-control [control]="locationForm.get('country')" [placeholder]="'Country'"></app-input-control>
      <app-input-control [control]="locationForm.get('phone')" [placeholder]="'Phone'"></app-input-control>
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox [formControl]="locationForm.get('international')" name="International" />
          <label>International</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>
    </div>
  </section>
</app-form-editor>
