:host {
  display: block;
  height: 100%;
  cursor: pointer;
}

.card {
  height: calc(100% - 1rem);
}

.card-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 65px;

  &__content {

  }
}

.card-icon {
  width: 116px;
  height: 116px;
  color:  rgba(0, 0, 0, 0.13);
  transition: color .15s ease;

  :host:hover & {
    color:  rgba(0, 0, 0, 0.3);
  }
}

.text-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #828282;
  padding: 0 15px;
}
