<section class="card">
  <div class="card-block">
    <div class="card-block__content">
      <clr-icon shape="plus" class="card-icon"></clr-icon>
      <p class="text-label"> Add<br> Contact</p>
    </div>
  </div>
</section>
